<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-combine-logo-networks">
        <a href="./index.html" class="footer-logo-link" title="logo company">
          <svg class="footer-logo" width="147" height="85">
            <use href="./img/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer-social-networks">
          <li class="footer-link-networks">
            <a
              title="company social link"
              href="https://www.facebook.com/"
              class="footer-link-nw-a"
              target="_blank"
            >
              <svg class="footer-svg-social-networks" width="27" height="27">
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-link-networks">
            <a
              title="company social link"
              href="https://www.instagram.com/"
              class="footer-link-nw-a"
              target="_blank"
            >
              <svg class="footer-svg-social-networks" width="32" height="32">
                <use href="./img/icons.svg#Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-link-networks">
            <a
              title="company social link"
              href="https://x.com/"
              class="footer-link-nw-a"
              target="_blank"
            >
              <svg class="footer-svg-social-networks" width="27" height="23.6">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="footer-nav-list">
        <li><a href="#welcome" class="footer-list-link">About us</a></li>
        <li><a href="#quality" class="footer-list-link">Benefits</a></li>
        <li><a href="#experience" class="footer-list-link">Gallery</a></li>
        <li>
          <a href="#testimonials" class="footer-list-link">Testimonial</a>
        </li>
        <li><a href="#location" class="footer-list-link">Location</a></li>
      </ul>
    </div>

    <p class="footer-rights-reserved">
      &#169; 2025 CoffeeJoy. All rights reserved.
    </p>
  </div>
</footer>
