<header class="header" id="header">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="logo" title="logo company">
        <svg class="logo-icon" width="84" height="36">
          <use href="./img/icons.svg#logo"></use>
        </svg>
      </a>

      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="#welcome" class="navigation-list-item-link">About us</a>
        </li>
        <li class="navigation-list-item">
          <a href="#quality" class="navigation-list-item-link">Benefits</a>
        </li>
        <li class="navigation-list-item">
          <a href="#experience" class="navigation-list-item-link">Gallery</a>
        </li>
        <li class="navigation-list-item">
          <a href="#testimonials" class="navigation-list-item-link"
            >Testimonial</a
          >
        </li>
        <li class="navigation-list-item">
          <a href="#location" class="navigation-list-item-link">Location</a>
        </li>
      </ul>

      <button
        type="button"
        class="mobile-menu-btn"
        title="button mobile mrnu"
        data-menu-open
      >
        <svg class="mobile-menu-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
