<div class="mobile-menu">
  <div class="container">
    <a href="./index.html" class="mobile-logo">
      <svg class="logo-icon" width="64" height="36">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="mobile-close-btn">
      <svg class="mobile-close-btn-icon" width="12" height="12">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-list">
      <li class="mobile-list-item">
        <a href="#" class="mobile-list-item-link">About us</a>
      </li>
      <li class="mobile-list-item">
        <a href="#" class="mobile-list-item-link">Benefits</a>
      </li>
      <li class="mobile-list-item">
        <a href="#" class="mobile-list-item-link">Gallery</a>
      </li>
      <li class="mobile-list-item">
        <a href="#" class="mobile-list-item-link">Testimonial</a>
      </li>
      <li class="mobile-list-item">
        <a href="#" class="mobile-list-item-link">Location</a>
      </li>
    </ul>
  </div>
</div>
