<div class="mobile-menu" data-menu>
  <div class="container">
    <a title="logo company" href="./index.html" class="mobile-logo">
      <svg class="logo-icon" width="84" height="36">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>
    <button
      title="button close menu"
      type="button"
      class="mobile-close-btn"
      data-menu-close
    >
      <svg class="mobile-close-btn-icon" width="12" height="12">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-list">
      <li class="mobile-list-item">
        <a href="#welcome" class="mobile-list-item-link" data-menu-close-a
          >About us</a
        >
      </li>
      <li class="mobile-list-item">
        <a href="#quality" class="mobile-list-item-link" data-menu-close-b
          >Benefits</a
        >
      </li>
      <li class="mobile-list-item">
        <a href="#experience" class="mobile-list-item-link" data-menu-close-g
          >Gallery</a
        >
      </li>
      <li class="mobile-list-item">
        <a href="#testimonials" class="mobile-list-item-link" data-menu-close-t
          >Testimonial</a
        >
      </li>
      <li class="mobile-list-item">
        <a href="#location" class="mobile-list-item-link" data-menu-close-loc
          >Location</a
        >
      </li>
    </ul>
  </div>
</div>
