<div class="modal-window-overlay" data-modal>
  <div class="modal-window">
    <button
      title="button close window"
      class="modal-close-btn modal-btn"
      type="button"
      data-close-modal
    >
      <svg width="14" height="14">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
    <p class="modal-text">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <div class="modal-image-box">
      <picture class="modal-image">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/modal-menu/modal-desk.jpg     1x,
            /img/modal-menu/modal-desk.@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/modal-menu/modal-tab.jpg    1x,
            /img/modal-menu/modal-tab@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/modal-menu/modal-mob.jpg    1x,
            /img/modal-menu/modal-mob@2x.jpg 2x
          "
        />
        <img
          src="/img/modal-menu/modal-desk.jpg"
          alt="image for welcome"
          loading="lazy"
        />
      </picture>
    </div>
    <button
      title="button close window"
      class="modal-btn-down modal-btn"
      type="button"
      data-modal-close
    >
      Close
    </button>
  </div>
</div>
