<section class="quality" id="quality">
  <div class="container">
    <div class="quality-description">
      <p class="quality-text-title">Quality</p>
      <h2 class="quality-main-title">Why CoffeeJoy Stands Out from the Rest</h2>

      <p class="quality-description-text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>

    <ul class="quality-list">
      <li class="quality-item">
        <picture loading="lazy">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/quality-desk-1-min.jpg    1x,
              /img/quality/quality-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/quality-tab-1-min.jpg    1x,
              /img/quality/quality-tab-1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/quality-mob-1-min.jpg    1x,
              /img/quality/quality-mob-1@2x-min.jpg 2x
            "
          />
          <img
            class="quality-image"
            loading="lazy"
            src="/img/quality/quality-desk-1-min.jpg"
            alt="A close-up of roasted coffee beans being poured into a grinder or stored in a glass jar"
            width="288"
            height="164.05"
          />
        </picture>

        <h3 class="quality-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="quality-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>

      <li class="quality-item">
        <picture loading="lazy">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/quality-desk-2-min.jpg    1x,
              /img/quality/quality-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/quality-tab-2-min.jpg    1x,
              /img/quality/quality-tab-2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/quality-mob-2-min.jpg    1x,
              /img/quality/quality-mob-2@2x-min.jpg 2x
            "
          />
          <img
            class="quality-image"
            loading="lazy"
            src="/img/quality/quality-desk-2-min.jpg"
            alt="A focused barista in a modern coffee shop carefully making a pour-over or espresso"
            width="288"
            height="164.05"
          />
        </picture>

        <h3 class="quality-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>

      <li class="quality-item">
        <picture loading="lazy">
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/quality/quality-desk-3-min.jpg    1x,
              /img/quality/quality-desk-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quality/quality-tab-3-min.jpg    1x,
              /img/quality/quality-tab-3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/quality/quality-mob-3-min.jpg    1x,
              /img/quality/quality-mob-3@2x-min.jpg 2x
            "
          />
          <img
            class="quality-image"
            loading="lazy"
            src="/img/quality/quality-desk-3-min.jpg"
            alt="Generate a warm, welcoming coffee shop interior scene"
            width="288"
            height="164.05"
          />
        </picture>

        <h3 class="quality-title">Cozy Atmosphere</h3>
        <div class="quality-text-atmosphere">
          <p class="quality-text">
            We don&#39;t just serve coffee — we create a warm and welcoming
            space where every cup feels like home.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
