.location {
  padding: 64px 0;
}
.location-find {
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 16px;
}
.location-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  padding-bottom: 24px;
  font-family: 'Aboreto', sans-serif;
}
.location-text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 40px;
}
.location-item {
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.location-icon {
  margin-bottom: 16px;
}
.text-item {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.location-address {
  font-family: 'Quicksand', normal;
  text-decoration: underline;
}
.location-address,
.location-adr-link {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location-address:hover,
.location-address:focus,
.location-adr-link:hover,
.location-adr-link:focus {
  opacity: 0.5;
}
.location-address:active,
.location-adr-link:active {
  opacity: 0.7;
}
.location-address-link {
  font-family: 'Quicksand', normal;
}
.buttom-location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 140px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #0b0803;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-location:hover,
.buttom-location:focus {
  opacity: 0.5;
}
.buttom-location:active {
  opacity: 0.7;
}

.map-location {
  width: 100%;
  height: 307px;
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .location-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .location-address-link {
    max-width: 208px;
  }
  .map-location {
    width: 704px;
    height: 377px;
  }
}
@media screen and (min-width: 1440px) {
  .location-info {
    margin-right: 24px;
  }
  .location-conteiner {
    display: flex;
  }
  .location-list {
    display: inline-block;
  }
  .buttom-location {
    margin: 0;
  }
  .map-location {
    margin-left: auto;
    width: 869px;
    height: 697px;
  }
  .location-address-link {
    max-width: 100%;
  }
}
