.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-coffee-lighter);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu > .container {
  position: relative;
  height: 100%;
}
.mobile-close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  width: 48px;
  height: 48px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-btn-icon {
  fill: var(--color-scheme-2-text);
  display: block;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  opacity: 0.5;
}
.mobile-close-btn:active {
  background-color: var(--opacity-neutral-darkest-10);
  opacity: 1;
}
.mobile-logo {
  position: absolute;
  top: 18px;
  left: 16px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-logo:focus {
  opacity: 0.5;
}
.mobile-logo:active {
  opacity: 0.7;
}
.logo-icon {
  fill: var(--color-scheme-2-text);
}
.mobile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mobile-list-item-link {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-scheme-1-text);
  line-height: 1.5;
  transition: opacity 250ms ease-in-out;
  font-family: var(--font-family);
}
.mobile-list-item-link:hover,
.mobile-list-item-link:focus {
  opacity: 0.5;
}
.mobile-list-item-link:active {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
