.subscribe-section{
    padding: 64px 16px;
    min-width: 320px;
    height: 986px;
}

.subscribe-title{
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #0B0803;
    margin: 0;
    padding-bottom: 24px;
}

.subscribe-description{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0B0803;
    margin: 0;
    padding-bottom: 32px;
}

.subscribe-form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.subscribe-email{
    width: 288px;
    height: 40px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(11, 8, 3, 0.6);
   
}

.subscribe-btn{
    border-radius: 100px;
    padding: 10px 24px;
    min-width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6f4e37;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:  #fff;;
    text-align: center;
    cursor: pointer;
    margin-bottom: 16px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon{
    margin-left: 12px;
    fill: #fff;
}

.subscribe-rules{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #0b0803;
    margin: 0;
    padding-bottom: 32px;
}

.subscribeimg-img{
    display: block;
    border-radius: 40px;
    max-width: 288px; 
    height: 400px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .subscribe-form-items{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 32px;
    }

    .subscribe-email{
    width: 340px;
    }

    .subscribe-btn{
    min-width: 158px;
    }

    .subscribeimg-img{
        max-width: 704px;
    }
}

@media screen and (min-width: 1158px){
    .subscribe-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .subscribe-title{
    font-size: 48px;
    }

    .subscribe-email{
    width: 339px;
    }


    .subscribe-email:hover, .subscribe-email:focus{
        border: 1px solid rgba(11, 8, 3, 0.15);
        color: #0b0803;
        border-radius: 12px;
        
    }
    
    .subscribe-btn:hover{
        opacity: 0.5;
    }

    .subscribeimg-img{
        max-width: 640px;
    }
}