/*------------------------------------------------Mobile-------------------------------------------*/

.testimonials {
  padding-top: 64px;
  padding-bottom: 64px;
}
.testimonials-title {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-list-item {
  min-width: 265px;
  border: 1px solid var(--color-scheme-1-border);
  background: var(--color-scheme-1-foreground);
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-star-list {
  display: flex;
  gap: 4px;
}
.testimonials-star-icon {
  fill: transparent;
  stroke: var(--color-neutral-darkest);
}
.testimonials-star-icon.is-active {
  fill: var(--color-neutral-darkest);
}
.testimonials-text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-text {
  font-size: 18px;
  line-height: 1.5;
}
.testimonials-name {
  font-weight: 600;
  line-height: 1.5;
}

/*------------------------------------------------Tablet-------------------------------------------*/
@media (min-width: 768px) {
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials-list-item {
    flex-basis: calc((100% - 24px) / 2);
    min-height: 253px;
  }
  .testimonials-text-box {
    flex-grow: 2;
    gap: 0;
    justify-content: space-between;
  }
}

/*------------------------------------------------Laptop-------------------------------------------*/
@media (min-width: 1440px) {
  .testimonials-title {
    font-size: 48px;
    max-width: 415px;
  }
  .testimonials-list-item {
    flex-basis: calc((100% - 72px) / 4);
    min-height: 303px;
  }
}
